In [4]:
import numpy as np
import pandas as pd

In [5]:
file= pd.read_csv("Financial_Data10052021.csv")

In [6]:
file

,ID,OpeBal,RediscBills,SlFacility,SdFacility,Repo,RevRepo,OmoSales,OmoRepay,PmSales,PmRepay,Crr,NetWdas,StatAlloc,JvCash,NetClr,NdicPrem,OMajor,RecDate
2419,132848.33,0.0,190838.49,11350.00,24400.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/10/2021,NaN
2418,183992.05,0.0,130136.01,6000.00,65296.00,0.0,17062.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/7/2021,NaN
2417,100084.04,0.0,238581.70,5420.00,34860.33,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/6/2021,NaN
2416,161505.52,0.0,345834.33,4000.00,227200.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/5/2021,NaN
2415,82389.16,0.0,108818.55,3770.30,40000.00,0.0,0.0,30000.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/4/2021,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,69622.14,0.0,55770.00,9500.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,30020.0,0.0,0.0,0,0,0.0,11/9/2009,NaN
4,50140.00,0.0,5700.00,15000.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,11/6/2009,NaN
3,84649.12,0.0,4700.00,10000.00,0.00,0.0,0.0,0.00,0.0,55000.0,0.0,30226.0,0.0,0.0,0,0,0.0,11/4/2009,NaN
2,135176.44,0.0,47889.90,46224.00,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,11/3/2009,NaN
1,69012.74,0.0,8500.00,74876.58,0.00,0.0,0.0,12111.87,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,11/2/2009,NaN

In [7]:
file.head(6)

,ID,OpeBal,RediscBills,SlFacility,SdFacility,Repo,RevRepo,OmoSales,OmoRepay,PmSales,PmRepay,Crr,NetWdas,StatAlloc,JvCash,NetClr,NdicPrem,OMajor,RecDate
2419,132848.33,0.0,190838.49,11350.0,24400.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/10/2021,NaN
2418,183992.05,0.0,130136.01,6000.0,65296.00,0.0,17062.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/7/2021,NaN
2417,100084.04,0.0,238581.70,5420.0,34860.33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/6/2021,NaN
2416,161505.52,0.0,345834.33,4000.0,227200.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/5/2021,NaN
2415,82389.16,0.0,108818.55,3770.3,40000.00,0.0,0.0,30000.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,5/4/2021,NaN
2414,507838.64,0.0,49296.90,16000.0,246053.20,0.0,20000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,4/30/2021,NaN

In [8]:
file.size

45277

In [9]:
file.shape

(2383, 19)

In [11]:
file.describe()

,ID,OpeBal,RediscBills,SlFacility,SdFacility,Repo,RevRepo,OmoSales,OmoRepay,PmSales,PmRepay,Crr,NetWdas,StatAlloc,JvCash,NetClr,NdicPrem,RecDate
count,2.383000e+03,2383.000000,2383.000000,2.383000e+03,2383.000000,2383.000000,2.383000e+03,2383.000000,2383.000000,2383.000000,2383.000000,2383.000000,2383.000000,2383.000000,2383.0,2383.000000,2383.000000,0.0
mean,2.217545e+05,173.702702,74985.195202,1.038139e+05,4350.469538,1556.544033,3.160670e+04,30660.760732,14814.927616,13331.594704,277.635057,826.482023,4261.480831,188.615308,0.0,19.937054,588.206534,NaN
std,1.902921e+05,3613.231527,98950.552256,3.138787e+05,20196.578590,11359.174606,8.259973e+04,92908.732635,44265.337439,47873.353976,7596.909881,6075.661240,33446.299501,3387.169464,0.0,973.246856,9035.069122,NaN
min,-1.744919e+04,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-7.500000e+02,0.000000,0.000000,0.000000,-74478.990000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN
25%,9.094416e+04,0.000000,4522.500000,1.985000e+04,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN
50%,1.600352e+05,0.000000,33090.970000,4.810000e+04,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN
75%,2.887225e+05,0.000000,113156.540000,1.281450e+05,0.000000,0.000000,9.027910e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN
max,1.404600e+06,127618.470000,955275.400000,1.409700e+07,441067.000000,280600.000000,1.075849e+06,927745.160000,310227.120000,807933.790000,242751.130000,89612.600000,376418.660000,83091.200000,0.0,47510.000000,336204.660000,NaN

In [12]:
file["OmoSales"].min()

0.0

In [13]:
file["OmoSales"].max()

927745.16

In [14]:
file.dtypes

ID             float64
OpeBal         float64
RediscBills    float64
SlFacility     float64
SdFacility     float64
Repo           float64
RevRepo        float64
OmoSales       float64
OmoRepay       float64
PmSales        float64
PmRepay        float64
Crr            float64
NetWdas        float64
StatAlloc      float64
JvCash           int64
NetClr           int64
NdicPrem       float64
OMajor          object
RecDate        float64
dtype: object

In [15]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2383 entries, 2419 to 1
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           2383 non-null   float64
 1   OpeBal       2383 non-null   float64
 2   RediscBills  2383 non-null   float64
 3   SlFacility   2383 non-null   float64
 4   SdFacility   2383 non-null   float64
 5   Repo         2383 non-null   float64
 6   RevRepo      2383 non-null   float64
 7   OmoSales     2383 non-null   float64
 8   OmoRepay     2383 non-null   float64
 9   PmSales      2383 non-null   float64
 10  PmRepay      2383 non-null   float64
 11  Crr          2383 non-null   float64
 12  NetWdas      2383 non-null   float64
 13  StatAlloc    2383 non-null   float64
 14  JvCash       2383 non-null   int64
 15  NetClr       2383 non-null   int64
 16  NdicPrem     2383 non-null   float64
 17  OMajor       2383 non-null   object
 18  RecDate      0 non-null      float64
dtypes: float64(16), int64(2), object(1)
memory usage: 372.3+ KB

In [16]:
file.isnull().sum()

ID                0
OpeBal            0
RediscBills       0
SlFacility        0
SdFacility        0
Repo              0
RevRepo           0
OmoSales          0
OmoRepay          0
PmSales           0
PmRepay           0
Crr               0
NetWdas           0
StatAlloc         0
JvCash            0
NetClr            0
NdicPrem          0
OMajor            0
RecDate        2383
dtype: int64